<div class="row">
  <div class="col s8 l6">
    <% if params[:q].present? %>
      <p>該当件数：<%= @books_size %>件</p>
    <% end %>
  </div>

  <% if params[:page].to_i == 1 || params[:page].blank? %>
    <div class="col s6 l3 push-l3">
      <label>表示件数</label>
      <select name="preview_num" id="preview_num" class="browser-default">
        <option value="20" <%= 'selected' if session[:show_num] == 20 %>>20件</option>
        <option value="50" <%= 'selected' if session[:show_num] == 50 %>>50件</option>
        <option value="100" <%= 'selected' if session[:show_num] == 100 %>>100件</option>
      </select>
    </div>
  <% end %>
</div>

<div class="row">
  <% @books.each do |book| %>
    <!--写真つき一覧-->
    <div class="col l4 m6 s12">
      <div class="card horizontal z-depth-2"
           onmouseover="this.className='card horizontal z-depth-5'" onmouseout="this.className='card horizontal z-depth-1'">
        <div class="card-image w-photo card-link" data-url="<%= book_path(book.id) %>" style="cursor:hand; cursor: pointer;">
          <div class="photo">
            <a href="<%= book_path(book.id) %>">
              <%= smaller_book_image book.image_url %>
            </a>
          </div>
        </div>
        <div class="card-stacked">
          <a href="<%= book_path(book.id) %>"
             class="card-content w-photo card-link book-info">
            <small>
              <p><%= book.name %></p>
              <p>著者：<%= book.author %></p>
              <span class="grey-text"><%#cut_description(book.description) if book.description.present? %></span>
            </small>
          </a>

          <% if user_signed_in? %>
            <div class="card-action w-photo" id="book_<%= book.id %>">
              <%= render 'favorites/favorite_button', book: book %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%# お気に入り追加時のモーダル %>
<div id="add_modal" class="modal">
  <div class="modal-content">
    <p>お気に入りに追加しました！</p>
  </div>
</div>

<div id="delete_modal" class="modal">
  <div class="modal-content">
    <p>お気に入りから削除しました。</p>
  </div>
</div>

<% if controller.action_name == "search" %>
  <div class="center-align">
    <%= will_paginate @books, renderer: MaterializePagination::Rails %>
  </div>
<% end %>
