<div class="columns is-multiline is-ancestor">
  <% @books.each do |book| %>
    <div class="column is-3">
        <div class="box is-parent z-depth-2" data-url="<%= book_path(book.id) %>"
                                   onmouseover="this.className='box z-depth-5'" onmouseout="this.className='box z-depth-1'">
          <article class="media is-child">
            <div class="media-left">
             <figure class="image photo">
               <%= smaller_book_image(url=book.image_url, size="tiny") %>
             </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p><strong><%= book.name %></strong><br>
                 著者：<%= book.author %></p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <%= link_to "お気に入り", add_book_path(book), method: :post, class: "level-item" %>
                 </div>
              </nav>
            </div>
           
          </article>
        </div>
    </div>

  <% end %>
</div>

<%= will_paginate @books, renderer: BulmaPagination::Rails %>

<script type="text/javascript">
//jQuery('.card').click(function() {
//    location.href = jQuery(this).attr('data-url');
//  });
</script>
