<div class="row">
  <% @books.each do |book| %>
      <div class="col s12 m6">
        <div class="card small horizontal z-depth-2" data-url="<%= book_path(book.id) %>"
             onmouseover="this.className='card small horizontal z-depth-5'" onmouseout="this.className='card small horizontal z-depth-1'">
          <div class="card-image">
            <%= smaller_book_image book.image_url %>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><%= book.name %></p>
              <small>
                著者：<%= book.author %><br>
                <span class="grey-text"><%= cut_description(book.description) if book.description.present? %></span>
              </small>
            </div>
            <div class="card-action">
              <div>
                <%= link_to "お気に入り", add_book_path(book), method: :post %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<%= will_paginate @books, class: 'pagination' %>

<script type="text/javascript">
  jQuery('.card').click(function() {
    location.href = jQuery(this).attr('data-url');
  });
</script>
