<!--side bar-->
<% if current_user %>
    <ul id="slide-out" class="side-nav">
      <li>
        <div class="userView">
          <div class="background">
            <img src="https://unsplash.it/500/500?image=831">
          </div>
          <a href="<%= edit_user_registration_path %>"><img class="circle" src="https://secure.gravatar.com/avatar/36960f5fc467f60690e12f658a07ee71.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2F7fa9%2Fimg%2Favatars%2Fava_0007-192.png"></a>
          <a href="#"><span class="white-text name"><%= current_user.name %></span></a>
          <a href="#!email"><span class="white-text email"><%= current_user.email %></span></a>
        </div>
      </li>
      <li><a href="<%= edit_user_registration_path %>"><i class="material-icons">perm_identity</i>Edit your account</a>
      </li>
      <li><a href="<%= favorites_path %>"><i class="material-icons">grade</i>Your Favorites</a></li>
      <li><a href="<%= user_rental_path(current_user.id) %>"><i class="material-icons">book</i>Your Rentals</a></li>
      <% if current_user.admin? %>
          <li><a href="<%= admin_users_path %>"><i class="material-icons">build</i>Admin</a></li>
      <% end %>
      <li>
        <div class="divider"></div>
      </li>
      <!--<li><a class="subheader">Subheader</a></li>-->
      <li><%= link_to 'logout', destroy_user_session_path, :method => :delete, class: "wave-effect" %></li>
    </ul>
<% end %>

<!--navigation bar-->
<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="<%= books_path %>" class="brand-logo left"><i class="material-icons hide-on-small-only"> book</i> LaBooks</a>
      <ul class="right">
        <li><a id="search-toggle"><i class="material-icons">search</i></a></li>
        <li>
          <a href="<%= show_all_books_path %>" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Show All Books"><i class="material-icons">view_module</i></a>
        </li>
        <li><a href="" onclick="location.reload()"><i class="material-icons">refresh</i></a></li>
        <% if current_user %>
            <li><a href="#" data-activates="slide-out" class="side-button"><i class="material-icons">menu</i></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% if user_signed_in? %>
    <div class="container">
      <div id="search" class="card-panel grey lighten-3" style="<%= "display:none;" if params[:q].blank? %>">
        <%= form_tag show_all_books_path, method: :get, class: 'input-field' do %>
            <p class="row">
              <i class="material-icons prefix">search</i>
              <%= text_field_tag "q", params[:q], class: 'validate' %>
              <label for="q" class="active">Search</label>
              <%= submit_tag "検索", class: 'waves-effect waves-light btn col s4 offset-s4' %>
            </p>
        <% end %>
      </div>
    </div>
<% end %>



<script text="javascript/text">
    $(".side-button").sideNav();
    $("#search-toggle").click(function () {
        $("#search").toggle('slow');
        if ($("#search").css('display') === 'block') {
            $('input:visible').eq(0).focus();
        }
    });
</script>