
<!DOCTYPE html>
<html>
<head>
  <title>LaBooks</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>

<div class="container">
  <h4><%= @user.nickname %>さんの貸出情報</h4>

  <% if @rental_books.unread.present? %>
      <table class="striped highlight">
        <thead>
        <tr>
          <th>借りた本</th>
        </tr>
        </thead>
        <tbody>
        <% @rental_books.unread.each do |rental_book_now| %>
            <tr><td><%= rental_book_now.book.name %></td></tr>
        <% end %>
        </tbody>
      </table>
  <% end %>

  <% if @rental_histories.present? %>
      <table class="striped highlight">
        <thead>
        <tr>
          <th>返却した本</th>
        </tr>
        </thead>
        <tbody>
        <% @rental_histories.each do |rental_history| %>
            <tr><td><%= rental_history.book.name %></td></tr>
        <% end %>
        </tbody>
      </table>
  <% end %>

  <% if @rental_books.present? %>
    <table class="striped highlight">
      <thead>
      <tr>
        <th>借りている本</th>
      </tr>
      </thead>
      <tbody>
      <% @rental_books.each do |rental_book| %>
          <tr><td><%= rental_book.book.name %></td></tr>
      <% end %>
      </tbody>
    </table>
  <% end %>




</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
     $.get("<%= rental_change_unread_flag_url(params[:student_id]) %>");
  });
</script>
</body>
</html>
