<div id="review-error"></div>
<div style="overflow: hidden;" id="book-detail">
  <div class="row">
    <div class="col s12 m12 l5 image" height="300" width="300">
      <div class="responsive-img">
        <%= smaller_book_image @book.image_url %>
      </div>
    </div>
    <div class="col s12 m12 l7">
      <h2><%= @book.name %> <h5>著者：<%= @book.author %></h5></h2>
      <%= render 'shared/books_tag' %>
      <p><%= @book.description %></p>
    </div>
  </div>
</div>

<div id="recommend">
  <div class="row">
    <div class="col l4 m6 s12" v-for="recommend in recommends">
      <div class="card horizontal z-depth-2"
           onmouseover="this.className='card horizontal z-depth-5'" onmouseout="this.className='card horizontal z-depth-1'">
        <div class="card-image w-photo card-link" :data-url="recommend.id" v-on:click="book_link(recommend.id)" style="cursor:hand; cursor: pointer;">
          <div class="photo">
            <img :src="recommend.image_url" alt="">
          </div>
        </div>
        <div class="card-stacked">
          <div class="card-content w-photo card-link" :data-url="recommend.id" v-on:click="book_link(recommend.id)" style="cursor:hand; cursor: pointer;
          ">
            <small>
              <p>{{ recommend.name }}</p>
              著者：{{ recommend.author }}
              <span class="grey-text"><%#cut_description(book.description) if book.description.present? %></span>
            </small>
          </div>
          <% if false %>
            <div class="card-action w-photo">
              <div class="favorite favorite-btn" :book_id="recommend.id">
                <a href="#add_modal">
                  <i class="material-icons md-dark md-inactive"
                     onmouseover="this.className='material-icons'"
                     onmouseout="this.className='material-icons md-dark md-inactive'">star_border</i>
                </a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="review"></div>


<%= javascript_tag do %>
    let book_id = "<%= @book.id %>"
<% end %>
