<div id="review-error"></div>
<div style="overflow: hidden;">
<h3><%= @book.name %> <h5>著者：<%= @book.author %></h5></h3>
<%= render 'shared/books_tag' %>
<div class="row">
  <div class="col s12 m12 l6 image" height="300" width="300">
    <%= smaller_book_image @book.image_url %>
  </div>
  <div class="col s12 m12 l6">
    <p><%= @book.description %></p>
  </div>
</div>

<div id="review"></div>
</div>

<script>
$.ajax({
  url: '<%= show_review_books_path %>?book_id=<%= @book.id %>',
  dataType: 'json',
  success: function(json){
    if (Object.keys(json).indexOf("url") >= 0) {
      $("#review").html(`<div class="iframe-content"><iframe src="${json["url"]}" frameborder="0" height="500" width="800"></iframe></div>`)
    } else {
      $("#review-error").html("<div class='card-panel red lighten-4'><span class='red-text'>レビューの読み込みに失敗しました</span></div>")
    }
  }
})

</script>
