<% set_meta_tags title: @book.name %>

<div id="review-error"></div>
<div style="overflow: hidden;" id="book-detail">
  <div class="row">
    <div class="col s12 m12 l5 image" height="300" width="300">
      <div class="responsive-img">
        <%= smaller_book_image @book.image_url %>
      </div>
    </div>
    <div class="col s12 m12 l7">
      <h2><%= @book.name %> </h2>
      <h5>著者：<%= @book.author %></h5>
      <div id="book_<%= @book.id %>">
        <%= render 'favorites/favorite_button', book: @book %>
      </div>
      <span class="rental-badge <%= @book.rented? ? 'rented' : 'available' %>"></span>
      <%= render 'shared/books_tag' %>
      <p><%= simple_format(h(@book.description)) %></p>
    </div>
  </div>
</div>

<div id="recommend">
  <div class="row">
    <div class="col l4 m6 s12" v-for="recommend in recommends">
      <div class="card horizontal z-depth-2"
           onmouseover="this.className='card horizontal z-depth-5'" onmouseout="this.className='card horizontal z-depth-1'">
        <div class="card-image w-photo card-link" style="cursor:hand; cursor: pointer;">
          <div class="photo">
            <a :href="'/books/' + recommend.id">
              <img :src="recommend.image_url" alt="">
            </a>
          </div>
        </div>
        <div class="card-stacked">
          <a :href="'/books/' + recommend.id" class="card-content w-photo card-link book-info">
            <small>
              <p>{{ recommend.name }}</p>
              <p>著者：{{ recommend.author }}</p>
              <span class="grey-text"><%#cut_description(book.description) if book.description.present? %></span>
            </small>
          </a>
        </div>
        <% if false %>
          <div class="card-action w-photo">
            <div class="favorite favorite-btn">
              <a href="#add_modal">
                <i class="material-icons md-dark md-inactive"
                   onmouseover="this.className='material-icons'"
                   onmouseout="this.className='material-icons md-dark md-inactive'">star_border</i>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--<div id="review"></div>-->
<div id="review-test"></div>


<%= javascript_tag do %>
  var book_id = "<%= @book.id %>"
  var controller_rails = "<%= controller_name %>"
  var action_rails = "<%= action_name %>"
<% end %>
