<div class="card-panel center">
  <div class="row">
    <div class="col l1 m1"></div>
    <div class="col l10 m10 s12">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, 'メールアドレス', class: 'left' %><br/>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password, 'パスワード', class: 'left' %><br/>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, 'ログイン情報を記憶する' %>
        </div>
      <% end -%>
      <br/>

      <div class="center actions">
        <%= f.submit 'ログインする', class: "waves-effect waves-light btn blue" %>
      </div>
    <% end %>
    </div>
    <div class="col l1 m1"></div>
  </div>
</div>

<%= render "devise/shared/links" %>
<br/>
