<% if devise_error_messages!.present? %>
  <div class='card-panel red lighten-4'>
    <span class='red-text'><%= '入力された値は不正です' %></span>
  </div>
<% end %>
<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <% resource.class.invite_key_fields.each do |field| -%>
    <p><%= f.label field, 'slack_account' %><br/>
      <%= f.text_field field, value: 'myjlab@' %></p>
  <% end -%>
  <p>@の後ろに招待するユーザのSlackアカウント名を入力してください</p>
  <p><%= f.submit t("devise.invitations.new.submit_button"), class: "waves-effect waves-light btn" %></p>
<% end %>
<br/>
