<!DOCTYPE html>
<html>
  <head>
    <title>LaBooks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%= render 'shared/header' %>
  <div class="container">
    <% if current_user %>
      <%= render 'shared/search' %>
    <% end %>

    <% if notice.present? %>
      <article class="message is-success">
        <div class="message-body">
          <%= notice %>
        </div>
      </article>
    <% end %>

    <% if alert.present? %>
      <article class="message is-danger">
        <div class="message-body">
          <%= alert %>
        </div>
      </article>
    <% end %>
    <div class="section">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
  <script>
    <%= yield :javascript %>
  </script>
  </body>
</html>
