<!DOCTYPE html>
<html>
<head>
  <%
    set_meta_tags :site => 'Labooks',
                  :description => '蔵書管理アプリ',
                  :keywords => '蔵書,管理,貸出',
                  :reverse => true
  %>
  <%= display_meta_tags %>
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'rblineprof', media: 'all', 'data-turbolinks-track': 'reload' if Rails.env.development? %>
  <%= javascript_tag do %>
    var controller_rails = "<%= controller_name %>";
    var action_rails = "<%= action_name %>";
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'shared/header' %>
<div class="container">


  <% if notice.present? %>
    <div class='card-panel green lighten-5'>
      <p class="green-text"><%= notice %></p>
    </div>
  <% end %>
  <% if alert.present? %>
    <div class='card-panel red lighten-4'>
      <span class='red-text'><%= alert %></span>
    </div>
  <% end %>

  <%= yield %>
</div>
<%= render 'shared/footer' %>
</body>
</html>
