<!DOCTYPE html>
<html>
<head>
  <title>LaBooks</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>

  </style>
</head>

<body>
<%= render 'shared/header' %>
<div class="container">


  <% if notice.present? %>
      <div class='card-panel green lighten-5'>
        <p class="green-text"><%= notice %></p>
      </div>
  <% end %>
  <% if alert.present? %>
      <div class='card-panel red lighten-4'>
        <span class='red-text'><%= alert %></span>
      </div>
  <% end %>

  <%= yield %>
</div>
<%= render 'shared/footer' %>
</body>
</html>
